<app-layout>
  <app-sidenav [open]="showSidenav$ | async" (closeMenu)="closeSidenav()">
    <app-nav-item
      (navigate)="closeSidenav()"
      *ngIf="(isLoggedIn$ | async)"
      routerLink="/"
      icon="book"
      hint="View your protected-content"
    >
      Protected Content Link 1
    </app-nav-item>
    <app-nav-item (navigate)="closeSidenav()" *ngIf="!(loggedIn$ | async)"> Sign In </app-nav-item>
    <app-nav-item (navigate)="logout()" *ngIf="(isLoggedIn$ | async)"> Sign Out </app-nav-item>
    <app-nav-item (navigate)="closeSidenav()"> Close </app-nav-item>
  </app-sidenav>
  <app-toolbar (openMenu)="openSidenav()"> Angular Cognito App </app-toolbar>
  <router-outlet></router-outlet>
</app-layout>
